SMTP_USERNAME=Mathiassejer123@gmail.com
SMTP_PASSWORD=dit-16-cifrede-app-password-her
MODTAGER_EMAIL=Mathiassejer123@gmail.com

FINNHUB_API_KEY=d21n6phr01qpst75rt2gd21n6phr01qpst75rt30
NEWSAPI_KEY=7b969e06a992469898aa769d4e05e767
