# Brevo SMTP
SMTP_USERNAME=marhiassejer123@gmail.com
SMTP_PASSWORD=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

# Modtager
MODTAGER_EMAIL=mathiassejer123@gmail.com

# Finnhub
FINNHUB_API_KEY=d21n6phr01qpst75rt2gd21n6phr01qpst75rt30
